<div class="jumbotron">
  <h1>Welcome</h1>
  <p class="lead">
    <img src="images/coffee.png" alt="I'm Yeoman"><br>
    List your presentation files for users.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Get Started<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Follow instructions carefully</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi fugiat nihil quaerat fuga, quas. Accusamus, assumenda! A laborum alias tempore, fugiat perferendis incidunt aliquam nostrum laboriosam dolores mollitia repellat ipsam. Testing content.
  </p>

</div>
