<div class="row">
	<!-- This sidebar col will be controlled by ReaderListingCtrl -->
	<div class="col-md-4">
		<h2>Sidebar</h2>
		<ul>
			<li><a href="#">link-1</a></li>
			<li><a href="#">link-2</a></li>
			<li><a href="#">link-3</a></li>
		</ul>
	</div>

	<!-- This content col will be controlled by ContentCtrl -->
  <div class="col-md-8">
  	<h2>Content</h2>
  	<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, mollitia! Expedita repellendus illum vitae beatae, praesentium, quod unde ad. Facere nam assumenda officia culpa ratione nemo mollitia. Itaque, magni, yeah.</p>
  </div>
</div>

<br><br><br>